<h1>All Categories</h1>

<ul>
#foreach ($category in $categories)
  <li><h3><a href="categories/$category.getId()">$category.getName()</a></h3></li>
#end
</ul>
<a href="/categories/new">Add new category</a>  
