<h1>Add a new category</h1>

<form action="/categories" method="post">
  <div class="form-group">
    <label for="name">Category Name</label>
    <input type="text" id="name" name="name">
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
